<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/evosuite-master/src/main/java/org/evosuite/EvoSuite.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.evosuite.EvoSuite"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-DCP=../sushi-lib/target/classes -class avl_tree.AvlTree -Dsearch_budget=60 -Dtest_dir=../sushi-lib/tests -Dassertions=false -Dvirtual_fs=false -mem=4096 -Dcriterion=PATHCONDITION -Dpath_condition=avl_tree.AvlTree,insertElem(I)V,EvoSuiteWrapper_4_75:avl_tree.AvlTree,isEmpty()Z,EvoSuiteWrapper_0_93 -Dalgorithm=DYNAMOSA -Ddebug=false -Dstrategy=MOSUITE"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="evosuite-master"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx4G"/>
</launchConfiguration>
