<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/evosuite-master/src/main/java/org/evosuite/EvoSuite.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.evosuite.EvoSuite"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-DCP=../sushi-lib/target/classes:../sushi-lib/lib/jbse-lib.jar:/Users/denaro/Documents/workspace.luna/sushi-experiments-closure01/build/classes:/Users/denaro/Documents/workspace.luna/sushi-experiments-closure01/lib/guava.jar:/Users/denaro/Documents/workspace.luna/sushi-experiments-closure01/build/lib/rhino.jar -class com.google.javascript.jscomp.RemoveUnusedVars -Dsearch_budget=3600 -Dtest_dir=/Users/denaro/Documents/workspace.luna/sushi-experiments-closure01/sushi-test -Dassertions=false -Dvirtual_fs=false -mem=4096 -Dcriterion=BRANCH -Dalgorithm=DYNAMOSA -generateMOSuite -Ddebug=false -Davoid_replicas_of_individuals=false"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="evosuite-master"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx4G"/>
</launchConfiguration>
