<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/evosuite-master/src/main/java/org/evosuite/EvoSuite.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.evosuite.EvoSuite"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-DCP=/Users/denaro/Desktop/jsoup/target/classes:/Users/denaro/Desktop/jsoup/sushi/sushi-lib-0.2.0-SNAPSHOT.jar -class org.jsoup.parser.TokenQueue -mem 2048 -Dassertions=false -Dglobal_timeout=7200 -Dreport_dir=/Users/denaro/Desktop/jsoup/out -Djunit_suffix=_Test -Dsearch_budget=7200 -Dtest_dir=/Users/denaro/Desktop/jsoup/sushi -Dvirtual_fs=false -Dselection_function=ROULETTEWHEEL -Dcriterion=PATHCONDITION -Dsushi_statistics=true -Dinline=false -Dsushi_modifiers_local_search=true -Duse_minimizer_during_crossover=true -Davoid_replicas_of_individuals=true -Dno_change_iterations_before_reset=30 -Demit_tests_incrementally=true -Dcrossover_function=SUSHI_HYBRID -Dalgorithm=DYNAMOSA -generateMOSuite -Dobject_reuse_probability=0.8 -Dpath_condition=&quot;org.jsoup.parser.TokenQueue,matchesAny([C)Z,EvoSuiteWrapper_0&quot; -Dpath_condition_evaluators_dir=/Users/denaro/Desktop/jsoup/target/classes -Ddebug=false"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="evosuite-master"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx4G"/>
</launchConfiguration>
